@import url("https://fonts.googleapis.com/css?family=Carter+One|Roboto:400,700");
body {
  font-family: "Roboto", sans-serif;
}

#main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 220, 255, 0.05);
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  padding-top: 40px;
}
.title-container .title {
  margin: 0;
  text-align: center;
  font-family: "Carter One", cursive;
  font-size: 49px;
  color: #707070;
}
.title-container .back {
  width: 180px;
  height: 60px;
  display: block;
  transition: background-color 0.3s;
  background-color: #04B0FC;
  border-radius: 13px;
  border: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  color: white;
  font-weight: bold;
  font-family: "Carter One", cursive;
  font-size: 26px;
}
.title-container .back:hover {
  background-color: #006999;
  cursor: pointer;
}
.title-container .back:focus {
  outline: none;
}

#search-bar {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 440px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 0 5px;
}

#search-bar:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.button-container .button {
  width: 125px;
  height: 63px;
  display: block;
  transition: background-color 0.3s;
  background-color: #04B0FC;
  border-radius: 13px;
  border: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  color: white;
  font-weight: bold;
  font-family: "Carter One", cursive;
  font-size: 20px;
}
.button-container .button:hover {
  background-color: #006999;
  cursor: pointer;
}
.button-container .button:focus {
  outline: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#customers-table {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
}
#customers-table th {
  font-size: 28px;
  font-weight: bold;
  color: #707070;
}
#customers-table td {
  text-align: center;
  font-size: 20px;
  color: #707070;
}

.add {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.add .container {
  background-color: white;
  max-width: 300px;
  width: 100%;
  margin: auto;
  margin-top: 200px;
  border-radius: 10px;
  animation: zoomOut 1s;
}
.add .container .modal {
  background-color: rgba(0, 220, 255, 0.05);
}
.add .container .modal .modal-container {
  width: fit-content;
  margin: 0 auto;
}
.add .container .modal .modal-container label {
  display: block;
  text-align: center;
  padding: 10px 0;
}
.add .container .modal .modal-container input {
  display: block;
  width: fit-content;
  height: 20px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.add .container .modal .modal-container .button {
  width: 75px;
  height: 37px;
  display: block;
  transition: background-color 0.3s;
  background-color: #04B0FC;
  border-radius: 13px;
  border: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  color: white;
  font-weight: bold;
  font-family: "Carter One", cursive;
  font-size: 15px;
  margin: 10px auto;
}
.add .container .modal .modal-container .button:hover {
  background-color: #006999;
  cursor: pointer;
}
.add .container .modal .modal-container .button:focus {
  outline: none;
}

@keyframes zoomOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=companyDetail.css.map */
