@import url('https://fonts.googleapis.com/css?family=Carter+One|Roboto:400,700');
$black: #707070;


body{
    font-family: 'Roboto', sans-serif;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #00DCFF, $alpha: 0.05);
}
.title{
    margin: 0;
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 70px;
    color: $black;
}
.login{
    width: 506px;
    height: 525px;
    border-radius: 36px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: white;
    box-shadow: 0 0 21px rgba($color: #000000, $alpha: 0.16);
    .login-title{
        text-align: center;
        color: $black;
        font-size: 41px;
        font-family: 'Carter One', cursive; 
        padding-top: 15px;
        margin: 0;
    }
    label{
        display: block;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        color: $black;
        padding: 15px 0 ;
    }
    input{
        background-color: #F5F5F5;
        display: block;
        width: 356px;
        height: 44px;
        border-radius: 6px;
        border: 1px solid black;
        margin: 0 auto;
    }
    button{
        width: 269px;
        height: 64px;
        display: block;
        background-color: #04B0FC;
        border-radius: 13px;
        border: 0;
        margin: 0 auto;
        margin-top: 55px;
    }
    button:focus{
        outline: none;
    }
}